<H1 class='mb-3'>Consent Form</H1>
<div>
  <%= @project.consent %>
</div>
<div>
  <input type="checkbox" id="chk" onchange="if ($('#chk').prop('checked') == true) { $('#proceed').show(); } else { $('#proceed').hide(); }">
    <%= @project.consent2 %>
  </input>
</div>
