<H1 class="mb-3">Consent Form</H1>
<div>
  <%= markdown(@project.consent) %>
</div>
<hr>
<div class="mb-3">
  <input type="checkbox" id="chk" onchange="if ($('#chk').prop('checked') == true) { $('#proceed').show(); } else { $('#proceed').hide(); }">
    <%= @project.consent2 %>
  </input>
</div>
<div id="proceed" class="mb-3" style="display: none;">
  <%= link_to 'Start', intro_project_path, class: 'btn btn-primary' %>
</div>
