<h1>Image evaluation on "<%= @project.name %>"</h1>
 <div>
   <%= markdown(@project.description) %>
 </div>
 <div>
   <%= link_to 'Start Evaluation', eval_project_path, 
         class: 'btn btn-primary' %>
 </div>
