/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

.guides-logo {
  font-family: sans-serif;
  letter-spacing: .07em;
  text-decoration: none;
  transition: opacity .2s;
  &:hover { opacity: .7; }

  &__text {
    color: #252525;
    //text-shadow: 0 1px 1px rgba(0,0,0,.1);
  }
}

img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-touch-callout: none;
  -moz-user-select: none;
  user-select: none;
}

.img-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

.no-save {
  display: block;
  width: 100%;
  height: auto;
}

.img-guard {
  position: absolute; inset: 0;
  background: transparent;
  z-index: 2;
}